body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: rgb(125, 76, 150);
}

header::after{
    display: table;
    clear: both;
}
.logo{
    float: left;
    padding: 10px 0;
}
nav{
    float: right;
    list-style: none;
    text-align: center;
    padding:20px 0;
}

nav ul{
    overflow: hidden;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

nav li{
    font-size: larger;
    display: inline-block;
    margin: 0 35px;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;

}

nav a{
    color:white;
    text-transform: none;
    text-decoration: none;
    
}

nav a:hover{
    background: green;
    color:black;
}

nav a::before{
    display: block;
    height: 5px;
    background-color: black;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 200ms;
}

nav a:hover::before{
    width: 100%;
}


h1{
    
    font-size: 40px;
    color:fuchsia;
}
h2{
    font-size: 25px;
    color:fuchsia;
}
form{
    margin: 20px auto;
    width: 320px;
    color:purple;
}
input{
    padding: 10px;
    font-size: inherit;
}

input[type="text"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 4px solid dodgerblue;
    background:#FAF6D9;
}

input[type="password"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 4px solid green;
    background:#FAF6D9;
}

input[type="email"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 4px solid green;
    background: #FAF6D9;
}
button,input[type="submit"]{
    width: 344px;
    height: 45px;
    border: solid steelblue;
    background: white;
    color:steelblue;
    font-size: 0.9em;

}

input:focus{
    background:white;
}

section{
    line-height: inline-block;
    font-size: 0.9em;
    padding: 40px;
    width: 75%;
    margin: 0 auto;

}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:brown;
    color: white;
    text-align: center;
}

.handle{
    width: 100%;
    background: rgb(125, 76, 150);
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;

    display: none;
}

@media screen and (max-width: 357px){

    nav ul{
        max-height: 0;
    }
    .showing{
        max-height:20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: left;

    }

    .handle{
        display: block;

    }
}